%div(class="alert-input")
  %label(class="label")
    = label
  %div(class="input")
    %input(id="end_time" class="#{@error[name].nil? ? "" : " error"}" type="text" name="#{name.to_s}")

    - unless @error[name].nil?
      %div(class="help")
        = @error[name]
