%div(id='header')
  %img(alt = "Logo" id="header-logo" src = "/images/logo/TradingSystem.png")
  - id = "none"
  - id = "switch" if my_arguments[0] == "yes"
  - if my_arguments[0] == "yes"
    = render_file_with_argument('frame/navigation_registered.haml', { :navigation_selected => my_arguments[3] })
  - else
    = render_file_with_argument('frame/navigation_unregistered.haml', { :navigation_selected => my_arguments[3] })
  %div(id=id)
    = render_file_with_argument('switch_and_account.haml', [my_arguments[1], my_arguments[2]]) if my_arguments[0] == "yes"