%div(id='header')
  %img(alt = "Logo" id="header-logo" src = "/images/logo/TradingSystem.png")
  - if session[:auth]
    = haml :'frame/navigation_registered', :locals => { :navigation => navigation }
  - else
    = haml :'frame/navigation_unregistered', :locals => { :navigation => navigation }