%div(id='header')
  %img(alt = "Logo" id="header-logo" src = "/images/logo/TradingSystem.png")
  - id = "none"
  - id = "switch" if my_arguments[:auth] == "yes"
  - if my_arguments[:auth] == "yes"
    = render_file_with_argument('frame/navigation_registered.haml', { :navigation => my_arguments[:navigation] })
  - else
    = render_file_with_argument('frame/navigation_unregistered.haml', { :navigation => my_arguments[:navigation] })