- admin_view = my_arguments[0]
%div(id='menu')
  %div
    %a(href="/home") Home (ORG)
  %div(class="bigmargin")
    %a(href="/items/my/active" name="active_items") Our Active Items
  %div
    %a(href="/items/my/inactive" name="inactive_items") Our Inactive Items
  %div
    %a(href="/organisation/members" name="inactive_items") Our Members
  %div(class="bigmargin")
    %a(href="/item/create" name="create_item") Create Item
  - if admin_view
    %div
      %a(href="/organisation/add/member" name="create_item") Add Member
  %div(class="bigmargin")
    %a(href="/users/all" name="users") All Users
  %div
    %a(href="/organisations/all" name="items") All Organisations
  %div
    %a(href="/items/active" name="items") All Items
  %div(class="bigmargin")
    %a(href="/logout" name="logout") Logout
  - if admin_view
    %div
      %a(href="/organisation/delete" name="delete_org") Delete Organisation