%div(id="navigation-bar")
  %ul(id="navigation")
    %li(id="nav-1")
      %span(id="nav-1-active")
        %a(href="" title="")
          %span
            home
    %li(id="nav-2")
      %span(id="nav-2-inactive")
        %a(href="" title="")
          %span
            community
    %li(id="nav-3")
      %span(id="nav-3-inactive")
        %a(href="" title="")
          %span
            market
    %li(id="nav-4")
      %span(id="nav-4-inactive")
        %a(href="" title="")
          %span
            logout