%div(class="subnavigation")
  %ul
    %li(class="selected")
      %a(href="http://www.web.de")
        Navigate 1
    %li
      %a(href="http://www.web.de")
        Navigate 2
    %li
      %a(href="http://www.web.de")
        Navigate 3