%div(class="subnavigation")
  - if my_arguments[:auth]
    %ul
      - my_arguments[:navigation].subnavigation.travers do |name, route, index, selected|
        %li{:class => selected ? "selected" : ""}
          %a{ :href=>route,  :title=>""}
            = "#{name}"