%div(class="subnavigation")
  - if session[:auth]
    %ul
      - navigation.travers_subnavigation(session[:navigation][:selected]) do |name, route, index, selected|
        %li{:class => session[:navigation][:subnavigation] == name ? "selected" : ""}
          %a{ :href=>route,  :title=>""}
            = "#{name}"