%div(id='menu')
  %div
    %a(href="/home") Home
  %div
    %a(href="/home/active") My Active Items
  %div
    %a(href="/home/inactive") My Inactive Items
  %div
    %a(href="/home/new") Create Item
  %div(class="bigmargin")
    %a(href="/users") All Users
  %div
    %a(href="/items") All Items
  %div(class="bigmargin")
    %a(href="/logout") Logout
  %div
    %form(action='\unregister' name='data' method='POST')
    %a(href="javascript:data.submit()") Delete Account