%h2 Menu
%ul
  %li
    %a(href="/home") Home
  %br
  %li
    %a(href="/home/active" name="active_items") My Active Items
  %li
    %a(href="/home/inactive" name="inactive_items") My Inactive Items
  %li
    %a(href="/home/new" name="create_item") Create Item
  %br
  %li
    %a(href="/users" name="users") All Users
  %li
    %a(href="/items" name="items") All Items
  %br
  %li
    %a(href="/logout" name="logout") Logout
  %li
    %form(action='\unregister' name='data' method='POST')
    %a(href="javascript:data.submit()") Delete Account