%div(id='header')
  %h1
    Trading System
  - id = "none"
  - id = "switch" if my_arguments[0] == "yes"
  %div(id=id)
    = render_file_with_argument('switch_and_account.haml', [my_arguments[1], my_arguments[2]]) if my_arguments[0] == "yes"