%div(id='menu')
  %div
    %a(href="/home") Home
  %div
    %a(href="/items/my/active" name="active_items") My Active Items
  %div
    %a(href="/items/my/inactive" name="inactive_items") My Inactive Items
  %div
    %a(href="/organisations/all" name="inactive_items") My Organisations
  %div
    %a(href="/item/create" name="create_item") Create Item
  %div
    %a(href="/organisation/create" name="create_organisation") Launch Organisation
  %div(class="bigmargin")
    %a(href="/users/all" name="users") All Users
  %div
    %a(href="/items/active" name="items") All Items
  %div(class="bigmargin")
    %a(href="/logout" name="logout") Logout
  %div
    %a(href="/unregister" name="unregister") Delete Account