%h1 Login
%br
%form(name="loginform" action="/authenticate" method="post")
  %label Name:
  %br
  %input(type="text" name="username" value="")
  -if defined?(error_message)
    %label
      = "#{error_message}"
  %br
  %br
  %label Password:
  %br
  %input(type="password" name="password" value="")
  %br
  %br
  %input(type="submit" value="Login")