%h2 All Organisations
%br
%ul
  - for organisation in all_organisations
    %li(class='bigmargin_bottom')
      %em= organisation.name
      %em= " has #{organisation.list_items.size} Items to sell. "
      %img(height=50 width=50){ :alt => organisation.name, :src => organisation.avatar }
      %a(href="/organisations/#{organisation.id}" ) Show Organisation Details
