
%h1 Registration
%br
%form(action="/register" enctype="multipart/form-data" method="POST")
  %label Name:
  %br
  %input(type="text" name="name" value="")
  %br
  %br
  %label Password:
  %br
  %input(type="password" name="password" id="password")
  %br
  %label(id="message")
  %br
  %br
  %label Email:
  %br
  %input(type="text" name="email" value="")
  %br
  %br
  %label Description:
  %br
  %textarea(name="interests" cols=30 rows=10)
  %br
  %br
  %label Avatar:
  %input(type="file" name="avatar" size=50 maxlength="=100000" accept="text/*")
  %input(type="submit" value="Register")