%h1 Show results of search: TODO!

- ["organisation", "user", "item"].each do |name|
  - if (results.found?(name))
    - results.sort!(session[:user]).get(name).each do |search_result|
      %div
        = "#{search_result.name.boldify(results.pattern)} : #{search_result.description.boldify(results.pattern)}"
