body {
    font-family:Verdana;
    overflow-x:hidden;
}

div#header h1 {
    font-family: fantasy;
    padding-top: 20px
}

div#menu {
    padding-top: 1em;
    position: fixed;
    top: 20%;
    bottom: 10%;
    left: 0;
    right: 80%;
    background: #A0C544;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#a0c544', endColorstr='#ffffff');
    background: -webkit-gradient(linear, left center, right center, from(#a0c544), to(#ffffff));
    background: -moz-linear-gradient(left, #a0c544, #ffffff);
    background: -o-linear-gradient(left, #a0c544, #ffffff);
    padding-left: 1em;
    min-width: 170px;
}

div#main {
    position: fixed;
    top: 20%;
    bottom: 10%;
    left: 20%;
    right: 0;
    padding: 2em;
    overflow: auto;
}

div#header {
    position: fixed;
    top: 0;
    bottom: 80%;
    left: 0;
    right: 0;
    border-bottom: 2px solid #347C2C;
    padding-left: 1em;
    min-height: 125px
}

div#header img {
    padding-top: 0.75em
}

div#switch {
    background: #ffa500;
    position:absolute;
    top:2em;
    right:3em;
    padding: 10px;
    margin: 0px;
 }

div#footer {
    position: fixed;
    top: 90%;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 2px solid #347C2C;
    padding-left: 5em
}

div#menu div {
    float: left;
    width: 100%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

div#menu a {
    display:block;
    padding-left: 0.25em;
    text-decoration: none;
    color: black
}

div#menu a:hover {
    display:block;
    padding-left: 0.25em;
    text-decoration: underline;
}

table{
    border-collapse: collapse;
}

th{
    text-align:left;
}

tr.colored {
    background:#DBE9B9;
}

tr.normal {
    background:white;
}

div#footer div {
    position:absolute;
    bottom:0.25em;
    left:0.25em;
}

div#usr_img img {
    position:absolute;
    top:3em;
    right:3em;
}

div#item_img img{
    position:absolute;
    top:3em;
    right:3em;
}

div.bigmargin {
    margin-top: 20px;
}

li.bigmargin_bottom {
     margin-bottom: 20px;
 }

div.itembuttons {
    margin-left: 20px;
}

input.itembuttons {
    float: left;
}

div#w3c img {
    position:relative;
    bottom:1em;
}

.warning {
    color: red;
    background: lightyellow;
    border-style: solid;
    border-width: 1px;
    border-color: red;
}

div#preview {
    display: block;
}

div.item_preview {
    background: lightyellow;
    height: 200px;
    margin: 10px;
    padding: 20px;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}

img.preview_img {
    position: absolute;
    right: 4em;
}