
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  	font-size: 16px;
	color: black;
}

.items {
    clear: both;
}

#container {
  margin: 0 auto;
  position: relative;
  min-width: 500px;
  max-width: 1000px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;

  -moz-box-shadow:    3px 3px 6px 0px grey;
  -webkit-box-shadow: 3px 3px 5px 6px #000;
  -khtml-box-shadow: 3px 3px 5px 6px #000;
  box-shadow:         3px 3px 6px 0px darkgrey;

  background-image: url('/images/design/wood2.jpg');
  overflow: hidden;
}

div#header {
  width: 100%;
  height: 150px;
  padding-left: 1em;
  font-size: 11px;
  overflow: hidden;
}

#header img#header-logo {
  float: left;
  height: 100px;
  margin-top: 20px;
  margin-left: 10px;
}

#navigation-bar {
	float: none;
	width: 100%;
}

#navigation-bar * {
	margin: 0;
	padding: 0;
}

#navigation-bar .navigation {
    margin-left: auto;
    margin-right: 0;
    position: relative;
}

#navigation-bar #navigation-registered {
	background: url('/images/design/rect.png') no-repeat;
	height: 250px;
	width: 360px;
}

#navigation-bar #navigation-unregistered {
    background: url('/images/design/navigation-unregistered.png') no-repeat;
    height: 250px;
    width: 270px;
}

#navigation-bar .navigation span {
	text-indent: -9999px; 
	display: block; 
}

#navigation-bar .navigation li, .navigation a {
	display: block; 
	height: 250px; 
	outline: none; }

#navigation-bar .navigation li {
	float: left; 
	list-style: none; 
	outline: none; 
}

#navigation-bar #navigation-1 { width: 70px; }
#navigation-bar #navigation-2 { margin-left: 20px; width: 70px; }
#navigation-bar #navigation-3 { margin-left: 20px; width: 70px; }
#navigation-bar #navigation-4 { margin-left: 20px; width: 70px; }
#navigation-registered-1-active, #navigation-registered-1-inactive a:hover { background: url('/images/design/rect-hover.png') no-repeat; }
#navigation-unregistered-1-active, #navigation-unregistered-1-inactive a:hover { background: url('/images/design/navigation-unregistered-hover.png') no-repeat; }

#navigation-registered-2-active, #navigation-registered-2-inactive a:hover { background: url( '/images/design/rect-hover.png') -90px -0px no-repeat; }
#navigation-unregistered-2-active, #navigation-unregistered-2-inactive a:hover { background: url( '/images/design/navigation-unregistered-hover.png') -90px -0px no-repeat; }

#navigation-registered-3-active, #navigation-registered-3-inactive a:hover { background: url('/images/design/rect-hover.png') -180px -0px no-repeat; }
#navigation-unregistered-3-active, #navigation-unregistered-3-inactive a:hover { background: url('/images/design/navigation-unregistered-hover.png') -180px -0px no-repeat; }


#navigation-registered button:hover { background: url('/images/design/rect-hover.png') -270px -0px no-repeat; }
#navigation-registered button,  #navigation-registered form {
    width: 70px;
    height: 150px;
    display: block;
    background: transparent;
    border: none;
}

div.profile-information {
  padding-left: 10px;
  float: left;
}

.profile-information form {
    display: inline;
}

#message-info {
    width: 150px;
    margin-left: auto;
    margin-right: 0px;
    margin-top: 20px;
}

#message-info img {
    position: relative;
    bottom: -2px;
    height: 20px;
    width: 20px;
}
#message-info a { font-weight: bold;}
#message-info a:link { color: #660066; text-decoration: none;}

div.subnavigation {
  overflow: hidden;
  display: block;
  /*float: clear;*/
  width: 100%;
  min-width: 500px;
  min-height: 30px;
}

.subnavigation * {
  padding: 0;
  margin: 0;
}

.subnavigation ul {
  display: block;
  float: right;
  margin-left: auto;
  margin-right: 0;
}

.subnavigation ul li {
  list-style: none;
  margin-right: 5px;
  float: left;
}

.subnavigation ul li a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;

  position: relative;
  bottom: -5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  color: darkslategray;
  background: url('/images/design/transparent-background-inactive.png');
  text-decoration: none;
}

.subnavigation ul li:hover a {
  color: black;
  background: url('/images/design/transparent-background.png');
}

.subnavigation ul li.selected a {
  color: black;
  background: url('/images/design/transparent-background.png');
}

div#message {
  padding: 5px;
  color: black;
  margin-bottom: 1em;
  text-align: center;
}

.success {
  border: 1px solid #34d02f;
  background-image: url('/images/design/message.png');
}

.error, .warning, .error input:hover .error textarea:hover {
  border: 1px solid #d0472f;
  background-image: url('/images/design/error.png');
}

.alert-input {
    padding-bottom: 15px;
}

.alert-input input {
  margin-top: 1px;
}

.alert-input .help {
  font-size: 14px;
  padding-left: 4px;
}

.labeled-input input, .labeled-input label, .labeled-input textarea {
    width: 350px;
    display: block;
}

.labeled-input input, .labeled-input textarea {
    margin-top: 1px;
    margin-bottom: 10px;
}

.labeled-input textarea {
    height: 100px;
}

.description {
    display: block;
    padding-bottom: 5px;
}

.description .entry {
    display: block;
}

.entry-horizontal, .entry-vertical {
    padding-top: 10px;
}

.entry-horizontal .label {
    display: inline-block;
    width: 250px;
    font-weight: bold;
}

.entry-horizontal .description {
    display: inline-block;
}

.entry-vertical .label {
    display: block;
    font-weight: bold;
}

.entry-vertical .description {
    display: block;
}

.description p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 2px;
    padding-bottom: 0px;
}

div#main {
	position: relative;
	overflow: hidden;
	padding: 1em;
    min-height: 100px;
  	background-image: url('/images/design/transparent-background.png');
}

div#search {
    position: absolute;
    top: 20px;
    right: 380px;
    overflow: hidden;
}

a {
  color:black;
}

div#main #usr_img {
    padding-top: 20px;
    padding-right: 10px;
    float: right;
}

#usr_img img {
    height: 200px;
    width: 200px;
}

.countdown {
  width: 240px; height: 45px;
}

#countdown {
  width: 240px;
  height: 45px;
  background-image: url('/images/design/normal.png');
  padding: 2px;
  border: 1px solid white;
}

div#footer {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 20px;
}

button, input, textarea {
  padding: 0; 
  padding: 2px; 
  font-weight:bold; 
  border: 1px solid white;
  color: black;
  background: transparent;
  background-image: url('/images/design/normal.png');
}

button {
  text-align: center;
}

button:hover, input:hover, textarea:hover {
  background-image: url('/images/design/button-hover.png');
}

button:disabled, input:disabled, textarea:disabled {
  border: 1px solid grey;
  color: grey;
  background-image: url('/images/design/transparent-background-inactive.png')
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align:left;
}

tr {
    width: 100%;
}

td form {
    padding-left: 5px;
    padding-right: 5px;
}

tr.colored {
    background-image: url('/images/design/message.png');
}

tr.normal {
    background-image: url('/images/design/normal.png');
}

div#preview {
    display: block;
}

div.item_preview {
    background-image: url('/images/design/normal.png');
    height: 200px;
    margin: 10px;
    padding: 20px;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}

img.preview_img {
    position: absolute;
    right: 4em;
}

div.comment {
    clear: both;
    min-width: 600px;
}

.comment div.comment_info {
    margin-left: 160px;
    padding: 4px;
}

.comment div.comment_info h3 {
    line-height: 3px;
}

.comment div.user_info, .comment div.self_info {
    float: left;
    background-image: url('/images/design/message.png');
    padding: 4px;
    position: relative;
    max-width: 150px;
    min-width: 150px;
}

.comment div.self_info {
    background-image: url('/images/design/item-owner.png');
}

.padding-top {
    padding-top: 20px;
}

.line-spacing {
    padding-top: 15px;
}

.small-line-spacing{
    padding-top: 10px;
}
div.search-switch {
    overflow: hidden;
    display: block;
    width: 100%;
    min-width: 500px;
    min-height: 30px;
    position: absolute;
    padding: 0;
    margin: 0;
}

.search-switch * {
    padding: 0;
    margin: 0;
}

.search-switch ul {
    display: block;
    float: left;
    margin-left: auto;
    margin-right: 0;
}

.search-switch ul li {
    list-style: none;
    margin-right: 5px;
    float: left;
}

.search-switch ul li a {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    color: darkslategray;
    background: url('/images/design/transparent-background-inactive.png');
    text-decoration: none;
}

.search-switch ul li:hover a,.search-switch ul li.selected a
{
    color: black;
    background: url('/images/design/normal.png');
}

h4 {
    padding-top: 30px;
    padding-bottom: 0px;
}

.autocomplete-w1 { position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; overflow:hidden; }
.autocomplete strong { font-weight:normal; color:#3399FF; }

.remove {
    margin: 0px;
    padding: 0px;
    position: relative;
    top: -1px;
    font-size: x-small;
    border: 1px solid #d0472f;
    background-image: url('/images/design/error.png');
}

#receivers {
    margin-top: 5px;
    margin-bottom: 5px;
}

.receiver {
  background-image: url('/images/design/normal.png');
  border: 1px solid white;
  margin-left: 1px;
  margin-right: 1px;
  padding: 1px;
}

.x-small-picture {
  width: 15px;
  height: 15px;
}

.align-forms-vertical {
    padding-top: 20px;
}

.align-forms-vertical form {
  display: inline;
}

hr {
    background: #2f4f4f;
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
}


.messagebox-message, .messagebox-message-user {
    background-image: url('/images/design/button-hover.png');
    padding: 10px;
    margin-bottom: 10px;
}

.messagebox-message-user hr {
    background: #ffff00;
}

.messagebox-message-user {
    background-image: url('/images/design/messagebox-message.png');
}

.message-content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.message-preview {
    background-image: url('/images/design/normal.png');
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

h2 span {
  font-size: 75%;
}