= haml :'partials/profile', :locals => { :account => DAOAccount.instance.fetch_account(params[:id].to_i),
                                         :user => true,
                                         :active_items => active_items }

