%h2 Auctionize Item
%br
%form(action="/item/auctionize" enctype="multipart/form-data" method="post")
  %label Name of Item:
  %br
  %input(type="text" name="name" value="")
  %br
  %label Description of Item:
  %br
  %textarea(name="description" cols=30 rows=10)
  %br
  %label Start Price:
  %br
  %input(type="text" name="start_price" value="")
  %br
  %label Increment:
  %br
  %input(type="text" name="increment" value="")
  %br
  %label Please enter Date and Time for the auction to end:
  %br
  %input(type="datetime" name="date_time" value="")
  %br
  %label Item Picture:
  %br
  %input(type="file" name="item_picture" size=50 maxlength="=100000" accept="text/*")
  %br
  %input(type="submit" value="Auctionize")


