%form(action="/item/create" enctype="multipart/form-data" method="post")
  = haml :'partials/alert-input', :locals => { :name => :name, :label => "Name of Item:"}

  = haml :'partials/alert-textarea', :locals => { :name => :description, :label => "Description of Item"}

  = haml :'partials/alert-input', :locals => { :name => :price, :label => "Price:"}

  %label(style="display:block")
    Item Picture:
  %input(type="file" name="item_picture" size=50 maxlength="=100000" accept="text/*")
  %input(type="submit" value="Create")
