%h2 Description reset successful
%br
%a(href = '/home') Go to your Home page or
%br
%form(action="/item/edit" method="post")
          %input(type = 'hidden' name = 'id'){ :value => id }
          %input(type = 'submit' value = 'Go back to Edit Page')
