%form(name="loginform" action="/authenticate" method="post")
  %div(class="labeled-input")
    %label E-Mail:
    %input(type="text" name="username" value="")
    %label Password:
    %input(type="password" name="password" value="")
    %input(type="submit" value="Login")