-#
  Displays that the registration was successful

%h1 Registration successful
%p
  Your registration was successful!
%p
  Now you have to activate your account by verifying your E-Mail address.
%p
  You should get an E-Mail with the verification URL. If not, you should check your Spam Box, too.
