A possibility to select a conversation of the user comes here!

- messagebox = Messenger.instance.get_message_box(session[:user])

- messagebox.conversations.each do |conversation_id, conversation|
  %h2
    %a(href="/messagebox/conversation?conversation_id=#{conversation_id}")
      = conversation.title + "(" + messagebox.new_messages_count_for(conversation_id).to_s + "/" + messagebox.message_count_for(conversation_id).to_s + ")"
  Subscribers:
  - conversation.subscribers.each do |subscriber|
    = System.instance.fetch_account(subscriber).name