- messagebox = Messenger.instance.get_message_box(session[:user])

- unless (messagebox.new_messages?)
  %h2
    No new messages

- Messenger.instance.get_message_box(session[:user]).travers_new_messages do |message, conversation_id|
  = haml :'mailbox/message', :locals => { :message => message,
                                          :conversation_id => conversation_id,
                                          :indention => false }