%form(name="memberform" action="/organisation/add/member" method="post")
  -if defined?(success_message)
    %div
    %label(class="success")
      = "#{success_message}"
    %div
  %div(class="small-line-spacing")
  %label Member's Email:
  %div
  %input(type="text" name="member" value="")
  -if defined?(error_message)
    %div
    %label(class="warning")
      = "#{error_message}"
  %div(class="line-spacing")
  %input(type="submit" value="Add member")