%h2 Launch Organisation
%form(action="/organisation/create" enctype="multipart/form-data" method="post")

  = haml :'partials/alert-input', :locals => { :name => :name, :label => "Name of Organisation:"}

  = haml :'partials/alert-textarea', :locals => { :name => :description, :label => "Description of Organisation"}

  = haml :'partials/alert-input', :locals => { :name => :limit, :label => "Credit Limit for normal User (Empty for no Limit):"}

  %label(style="display:block")
    Avatar for Organisation:
  %input(style="margin-bottom: 15px" type="file" name="avatar" size=50 maxlength="=100000" accept="image/*")

  %input(style="display:block" type="submit" id="Launch!" value="founding")