%h1 Delete Organisation
%br
= "Do you really want to delete this organisation?"

%form(action="/organisation/delete" method="post")
  %input(type="submit" value="Delete")
= "Else hit 'cancel' to return to your organisation's home."

%form(action="/home" method="get")
  %input(type="submit" value="cancel")

