%h2="Would you really leave this organisation?"
%br
  %form(action="/organisation/leave" method="post")
    - user = user = Models::System.instance.fetch_account(session[:user])
    %input(type = 'hidden' name = 'user_email'){ :value => user.email }
    %input(type = 'submit' value = 'Confirm')
%br
