%form(action="/organisation/create" method="get")
  %button(type="submit" name="create organisation" value="create organisation" id="createOrg")
    create organisation
%ul
  - for organisation in all_organisations
    %li
      %em= organisation.name
      %img(height=50 width=50){ :alt => organisation.name, :src => organisation.avatar }
    %div= "#{organisation.description}"

